1.Write a Python program to load the iris data from a given csv file into a data frame and print the shape of the data, type of the data and first 3 rows

In [21]:

import pandas as pd


data = pd.read_csv("iris.csv",sep=",")
df = pd.DataFrame(data)
print(df.shape)
print(df.loc[[0,1,2]])

(150, 6)
   Id  sepal.length  sepal.width  petal.length  petal.width variety
0   0           5.1          3.5           1.4          0.2  Setosa
1   1           4.9          3.0           1.4          0.2  Setosa
2   2           4.7          3.2           1.3          0.2  Setosa

#2 Write a Python program using Scikit-learn to print the keys, number of rows-
columns, feature names and the description of the Iris data

In [36]:
import pandas as pd

data = pd.read_csv("iris.csv",sep=",")
df = pd.DataFrame(data)
print(df.keys()) #prints the keys
print(df.shape) #prints the number of rows and columns
print(df.info()) 
print(df.describe())
print(type(df))

Index(['Id', 'sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')
(150, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            150 non-null    int64
 1   sepal.length  150 non-null    float64
 2   sepal.width   150 non-null    float64
 3   petal.length  150 non-null    float64
 4   petal.width   150 non-null    float64
 5   variety       150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None
               Id  sepal.length  sepal.width  petal.length  petal.width
count  150.000000    150.000000   150.000000    150.000000   150.000000
mean    74.500000      5.843333     3.057333      3.758000     1.199333
std     43.445368      0.828066     0.435866      1.765298     0.762238
min      0.000000      4.300000     2.000000      1.000000     0.100000
25%     37.250000      5.100000     2.800000      1.600000     0.300000
50%     74.500000      5.800000     3.000000      4.350000     1.300000
75%    111.750000      6.400000     3.300000      5.100000     1.800000
max    149.000000      7.900000     4.400000      6.900000     2.500000
<class 'pandas.core.frame.DataFrame'>

#3 Write a Python program to get the number of observations, missing values and
nan values of iris dataset

In [35]:
import pandas as pd

data = pd.read_csv("iris.csv",sep=",")
df = pd.DataFrame(data)
print(data.info()) # is showing what kind of variavble they are

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            150 non-null    int64
 1   sepal.length  150 non-null    float64
 2   sepal.width   150 non-null    float64
 3   petal.length  150 non-null    float64
 4   petal.width   150 non-null    float64
 5   variety       150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

#4 Write a Python program to view basic statistical details like percentile, mean,
std etc. of iris data.

In [24]:
import pandas as pd
import numpy as np
data =pd.read_csv("iris.csv",sep=",")
df = pd.DataFrame(data)
print(df.describe())

               Id  sepal.length  sepal.width  petal.length  petal.width
count  150.000000    150.000000   150.000000    150.000000   150.000000
mean    74.500000      5.843333     3.057333      3.758000     1.199333
std     43.445368      0.828066     0.435866      1.765298     0.762238
min      0.000000      4.300000     2.000000      1.000000     0.100000
25%     37.250000      5.100000     2.800000      1.600000     0.300000
50%     74.500000      5.800000     3.000000      4.350000     1.300000
75%    111.750000      6.400000     3.300000      5.100000     1.800000
max    149.000000      7.900000     4.400000      6.900000     2.500000

#5 Write a Python program to get observations of each species (setosa, versicolor,
virginica) from iris data

In [29]:
import pandas as pd

data = pd.read_csv("iris.csv")
df = pd.DataFrame(data)
df['variety'].value_counts()

Setosa        50
Versicolor    50
Virginica     50
Name: variety, dtype: int64

#6 Write a Python program to drop Id column from a given data frame and print
the modified part. Call iris.csv to create the data frame.

In [34]:
import pandas as pd

df = pd.DataFrame(pd.read_csv('iris.csv'))
df.drop('Id',axis=1)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

#7 Write a Python program to access the first four cells from a given data frame
using the index and column labels. Call iris.csv to create the data frame

In [38]:
import pandas as pd
data = pd.read_csv('iris.csv')
df = pd.DataFrame(data)
print(data.columns)

Index(['Id', 'sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')